@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-latin.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-cyr.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 28px;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--blackColor);
}

:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --blueColor: #0c468b;
}

.header {
  padding: 16px;
  background: var(--blueColor);
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  border-radius: 50%;
  max-width: 125px;
  height: 125px;
}
.header__logo img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 576px) {
  .header__logo:last-child {
    display: none;
  }
}
@media (max-width: 768px) {
  .header__logo {
    max-width: 75px;
    height: 75px;
  }
}
.header__title {
  padding: 0 12px;
  font-size: 48px;
  font-weight: 400;
  color: var(--whiteColor);
}
@media (max-width: 1200px) {
  .header__title {
    font-size: 42px;
  }
}
@media (max-width: 992px) {
  .header__title {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .header__title {
    font-size: 24px;
  }
}

.map {
  text-align: center;
  padding: 26px 13px;
}
.map__iframe iframe {
  width: 100%;
  height: 650px;
  border: none;
}
.map__title {
  display: inline-block;
  padding: 12px 48px;
  margin-bottom: 24px;
  font-size: 48px;
  background: rgba(105, 231, 239, 0.2784313725);
}
.map__text {
  text-align: start;
  font-size: 20px;
  padding: 20px 0 80px;
}

.promo {
  display: grid;
  place-items: center;
  position: relative;
}
.promo__title {
  position: absolute;
  text-align: center;
  font-size: 64px;
  font-weight: 300;
  color: var(--whiteColor);
}
@media (max-width: 576px) {
  .promo__title {
    font-size: 48px;
  }
}
.promo__img {
  width: 100%;
}
.promo__img img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hashtag {
  font-size: 20px;
}
@media (max-width: 576px) {
  .hashtag {
    font-size: 16px;
  }
}

.emoji {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 45px 20px 0;
}
.emoji__wrapper {
  display: flex;
  gap: 24px;
}
.emoji__img {
  width: 64px;
}
.emoji__img img {
  max-width: 100%;
}
@media (max-width: 576px) {
  .emoji {
    display: none;
  }
}

.social {
  border-bottom: 2px solid var(--blackColor);
  padding: 36px;
}
.social__links {
  display: flex;
  gap: 24px;
}
.social__title {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 400;
}
.social__link {
  width: 50px;
}
.social__link img {
  max-width: 100%;
  object-fit: cover;
}

.places__row {
  display: flex;
}
.places__link_active {
  position: relative;
}
.places__link_active::before {
  content: "";
  position: absolute;
  right: 105%;
  top: 50%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background: var(--blackColor);
  border-radius: 50%;
}
@media (max-width: 976px) {
  .places__link_active::before {
    right: 108%;
  }
}
.places__col-sidebar {
  width: 20%;
  border-right: 2px solid var(--blackColor);
}
@media (max-width: 1200px) {
  .places__col-sidebar {
    width: 30%;
  }
}
@media (max-width: 768px) {
  .places__col-sidebar {
    display: none;
  }
}
.places__col-main {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 80%;
  padding-top: 40px;
}
@media (max-width: 1200px) {
  .places__col-main {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .places__col-main {
    width: 100%;
  }
}
.places__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  list-style: none;
  padding: 38px 36px;
  height: 100%;
  font-size: 18px;
  font-weight: 500;
}
.places__list li:last-child .places__link {
  text-decoration: none;
}
.places__nav {
  position: sticky;
  top: 0;
}

.place {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 120px;
}
.place__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.place__img img {
  max-width: 100%;
}
.place__stars {
  max-width: 240px;
}
.place__stars img {
  max-width: 100%;
  height: 80px;
}
@media (max-width: 1200px) {
  .place__stars img {
    height: 40px;
  }
}
@media (max-width: 1200px) {
  .place__stars {
    max-width: 120px;
  }
}
.place__title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}
.place__text {
  padding-left: 16px;
  font-size: 20px;
}
.place__coordinates {
  font-size: 18px;
}
.place__coordinates img {
  max-width: 100%;
}
@media (max-width: 992px) {
  .place {
    padding: 0 80px;
  }
}
@media (max-width: 768px) {
  .place {
    padding: 0 60px;
  }
}
@media (max-width: 576px) {
  .place {
    padding: 0 20px;
  }
}

.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
.burger__button {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: var(--blackColor);
}
.burger__button span {
  display: block;
  width: 65%;
  height: 3px;
  position: absolute;
  left: 50%;
  pointer-events: none;
  transform: translateX(-50%);
  background: var(--whiteColor);
  transition: 0.2s;
}
.burger__button span:nth-child(1) {
  top: 12px;
}
.burger__button span:nth-child(2) {
  transform: translate(-50%, -50%);
  top: 50%;
}
.burger__button span:nth-child(3) {
  bottom: 12px;
}
.burger_open .burger__menu {
  left: 0;
  visibility: visible;
  transition: 0.2s;
}
.burger_open span {
  transition: 0.2s;
}
.burger_open span:nth-child(1) {
  top: 48%;
  transform: translateX(-50%) rotate(45deg);
}
.burger_open span:nth-child(2) {
  opacity: 0;
}
.burger_open span:nth-child(3) {
  top: 48%;
  transform: translateX(-50%) rotate(135deg);
}
.burger__menu {
  position: fixed;
  top: 0;
  left: -100%;
  visibility: hidden;
  z-index: 500;
  width: 50vw;
  height: 100vh;
  transition: 0.2s;
  background: var(--whiteColor);
  overflow: auto;
}
@media (max-width: 576px) {
  .burger__menu {
    width: 70vw;
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.comments__title {
  padding-bottom: 43px;
  font-size: 32px;
}
.comments__form {
  width: 100%;
  padding-bottom: 85px;
}
.comments__textarea {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
  height: 200px;
  background: #d9d9d9;
  border: none;
  border-radius: 25px;
  padding: 20px;
  font-size: 20px;
}
.comments__wrapper {
  display: flex;
  flex-direction: column;
  gap: 47px;
  width: 100%;
}
.comments__item {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 20px;
}
.comments__item-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}
.comments__item-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comments .hashtag {
  padding: 30px 0;
  align-self: flex-end;
}

.home-link {
  background: none;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
}
.home-link a {
  display: grid;
  place-items: center;
}

/*# sourceMappingURL=style.css.map */
