@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-latin.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter-cyr.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 28px;
}

body {
  font: {
    family: "Inter", sans-serif;
  }
  color: var(--blackColor);
}

:root {
  --whiteColor: #fff;
  --blackColor: #000;
  --blueColor: #0c468b;
}

.header {
  padding: 16px;
  background: var(--blueColor);

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    overflow: hidden;
    border-radius: 50%;

    max-width: 125px;
    height: 125px;

    img {
      max-width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: 576px) {
      &:last-child {
        display: none;
      }
    }

    @media (max-width: 768px) {
      max-width: 75px;
      height: 75px;
    }
  }

  &__title {
    padding: 0 12px;
    font: {
      size: 48px;
      weight: 400;
    }
    color: var(--whiteColor);

    @media (max-width: 1200px) {
      font: {
        size: 42px;
      }
    }

    @media (max-width: 992px) {
      font: {
        size: 32px;
      }
    }

    @media (max-width: 768px) {
      font: {
        size: 24px;
      }
    }
  }
}

.map {
  text-align: center;
  padding: 26px 13px;

  &__iframe {
    iframe {
      width: 100%;
      height: 650px;
      border: none;
    }
  }

  &__title {
    display: inline-block;
    padding: 12px 48px;
    margin-bottom: 24px;
    font: {
      size: 48px;
    }
    background: #69e7ef47;
  }

  &__text {
    text-align: start;
    font: {
      size: 20px;
    }
    padding: 20px 0 80px;
  }
}

.promo {
  display: grid;
  place-items: center;
  position: relative;

  &__title {
    position: absolute;
    text-align: center;
    font: {
      size: 64px;
      weight: 300;
    }
    color: var(--whiteColor);

    @media (max-width: 576px) {
      font: {
        size: 48px;
      }
    }
  }

  &__img {
    width: 100%;

    img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }
}

.hashtag {
  font: {
    size: 20px;
  }

  @media (max-width: 576px) {
    font: {
      size: 16px;
    }
  }
}

.emoji {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding: 45px 20px 0;

  &__wrapper {
    display: flex;
    gap: 24px;
  }

  &__img {
    width: 64px;

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {
    display: none;
  }
}

.social {
  border-bottom: 2px solid var(--blackColor);
  padding: 36px;

  &__links {
    display: flex;
    gap: 24px;
  }

  &__title {
    margin-bottom: 16px;
    font: {
      size: 18px;
      weight: 400;
    }
  }

  &__link {
    width: 50px;

    img {
      max-width: 100%;
      object-fit: cover;
    }
  }
}

.places {
  &__row {
    display: flex;
  }

  &__link {
    &_active {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        right: 105%;
        top: 50%;
        transform: translateY(-50%);
        width: 7px;
        height: 7px;
        background: var(--blackColor);
        border-radius: 50%;

        @media (max-width: 976px) {
          right: 108%;
        }
      }
    }
  }

  &__col {
    &-sidebar {
      width: 20%;
      border-right: 2px solid var(--blackColor);

      @media (max-width: 1200px) {
        width: 30%;
      }

      @media (max-width: 768px) {
        display: none;
      }
    }

    &-main {
      display: flex;
      flex-direction: column;
      gap: 28px;
      width: 80%;
      padding-top: 40px;

      @media (max-width: 1200px) {
        width: 70%;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    list-style: none;
    padding: 38px 36px;
    height: 100%;

    font: {
      size: 18px;
      weight: 500;
    }

    li:nth-last-child(-n + 2) {
      .places__link {
        text-decoration: none;
      }
    }
  }

  &__nav {
    position: sticky;
    top: 0;
  }
}

.place {
  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 0 120px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__img {
    img {
      max-width: 100%;
    }
  }

  &__stars {
    max-width: 240px;

    img {
      max-width: 100%;
      height: 80px;

      @media (max-width: 1200px) {
        height: 40px;
      }
    }

    @media (max-width: 1200px) {
      max-width: 120px;
    }
  }

  &__title {
    text-align: center;

    font: {
      size: 32px;
      weight: 400;
    }
  }

  &__text {
    padding-left: 16px;

    font: {
      size: 20px;
    }
  }

  &__coordinates {
    font: {
      size: 18px;
    }

    img {
      max-width: 100%;
    }
  }

  @media (max-width: 992px) {
    padding: 0 80px;
  }

  @media (max-width: 768px) {
    padding: 0 60px;
  }

  @media (max-width: 576px) {
    padding: 0 20px;
  }
}

.burger {
  display: none;

  @media (max-width: 768px) {
    display: block;
  }

  $transitionTime: 0.2s;

  &__button {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: var(--blackColor);

    span {
      display: block;
      width: 65%;
      height: 3px;
      position: absolute;
      left: 50%;
      pointer-events: none;
      transform: translateX(-50%);
      background: var(--whiteColor);

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%);
        top: 50%;
      }

      &:nth-child(3) {
        bottom: 12px;
      }
      transition: $transitionTime;
    }
  }

  &_open {
    .burger__menu {
      left: 0;
      visibility: visible;
      transition: $transitionTime;
    }

    span {
      &:nth-child(1) {
        top: 48%;
        transform: translateX(-50%) rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        top: 48%;
        transform: translateX(-50%) rotate(135deg);
      }
      transition: $transitionTime;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: -100%;
    visibility: hidden;
    z-index: 500;
    width: 50vw;
    height: 100vh;
    transition: $transitionTime;
    background: var(--whiteColor);
    overflow: auto;
    @media (max-width: 576px) {
      width: 70vw;
    }
  }
}

.comments {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

  &__title {
    padding-bottom: 43px;

    font: {
      size: 32px;
    }
  }

  &__form {
    text-align: end;
    width: 100%;
    padding-bottom: 85px;
  }

  &__textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 200px;
    background: #d9d9d9;
    border: none;
    border-radius: 25px;
    padding: 20px;
    margin-bottom: 10px;

    font: {
      size: 20px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 47px;

    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 30px;

    font: {
      size: 20px;
    }

    &-text {
      width: 70%;

      @media (max-width: 576px) {
        width: 60%;
      }
    }

    &-avatar {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (max-width: 1200px) {
        width: 100px;
        height: 100px;
      }
    }
  }

  .hashtag {
    padding: 30px 0;
    align-self: flex-end;
  }
}

.home-link {
  background: none;
  border: none;
  margin-top: 20px;
  margin-left: 20px;
  a {
    display: grid;
    place-items: center;
  }
}

@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}
